body{
    background: url('./assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
